<h1>existing talks...</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Time</th>
        <th>Description</th>
        <th>Room</th>
        <th>Speakers</th>
    </tr>
    {{#each talks}}
        <tr>
            <td>{{name}}</td>
            <td>{{time}}</td>
            <td>{{description}}</td>
            <td>{{room}}</td>
            <td>
                {{speakers}}
            </td>
        </tr>
    {{/each}}
</table>
